%ul.errors

= link_to 'New Calendar', new_calendar_path, remote: true
= link_to 'New Timeline', new_line_path, remote: true

.timelines-container
	- @lines.each do |line|
		.timeline-thumbnail
			= link_to line.name, line_path(line.id), "data-no-turbolink" => true

#form-modal.modal.fade