// Place all the styles related to the Calendars controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


html {
	background-image: url(asset-path('debut_dark.png'));
}

// consider only disable in modal
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}


#new-calendar-modal {
	min-width: 400px;
}


@media (min-width: 768px) {
	#new-calendar-modal {
		width: 768px;
	}
}

@media (min-width: 800px) {
	#new-calendar-modal {
		width: 800px;
	}
}

.month-number-field {
	width: 5px;
}