// Place all the styles related to the Calendars controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// COLOURS
$heading-text: #8a92a5;
$background-blue: #17aaca;
$button-muted: #a0afb2;

$field-background: #edf0f6;
$field-border: #eef1f8;
$field-text: #6b7282;


html {
	background-image: url(asset-path('debut_dark.png'));
}

// consider only disable in modal
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

#new-calendar-modal {
	min-width: 400px;
}

/*
@media (min-width: 768px) {
	#new-calendar-modal {
		width: 768px;
	}
}

@media (min-width: 800px) {
	#new-calendar-modal {
		width: 800px;
	}
}
*/

#months {
	.field {
		margin: 0;

		input {
			margin: 2px 0;

			&.month-number-field[type="number"] {
				text-align: center;
				width: 10px;
				padding: 10px 10px 10px 6px;
				border: 2px solid #17aaca;
				background-color: #17aaca;
				border-radius: 3px 0 0 3px;
				color: #dddddd;
				font-size: 0.88em;
				min-width: 60%;
			}

			&.month-name-field[type="text"] {
				border-radius: 0px 3px 3px 0px;
			}

		}
	}

	.months-heading {
		color: $heading-text;
		font-family: 'Economica';
		text-transform: uppercase;
		font-weight: bold;
		padding: 0;

		li {
			display: inline-block;
			list-style: none;
		}
	}

}