// COLOURS
$heading-text: #6d727c;
$background-bright-blue: #17aaca;
$background-blue: #6dc5f2;
$background-soft-blue: #c6e1ec;
$button-muted: #a0afb2;
$text-bg-soft-blue: #3d7489;
$background-soft-red: #ef9ea3;
$text-bg-soft-red: #911515;
$field-background: #edf0f6;
$field-border: #eef1f8;
$field-text: #6b7282;
$field-heading-text: #8a92a5;

.form-container {
	box-sizing: border-box;
	text-align: left;

	h3 {
		font-family: 'Open Sans', sans-serif;
		font-size: 1.8em;
		font-weight: 400;
		margin: 0 0 40px 0;
		color: $heading-text;

	}

	input[type="submit"], button {
		font-family: 'Economica';
		font-weight: bold;
		text-transform: uppercase;
		padding: 10px;
		// border-radius: 3px;
		border: none;
		background-color: $background-bright-blue;
		color: white;

		&:hover {
			background-color: $background-blue;
			color: white;
		}
		&.option-button {
			width: 100px;
		}

		&:focus {
			border-color: $background-blue;
			outline-color: $background-blue;		
		}
	}


	.field label {
		font-family: 'Economica', sans-serif;
		text-transform: uppercase;
		font-weight: bold;
		color: $field-heading-text;
		
	}

	.field {
		margin-bottom: 25px;

		&.disabled-field {
			opacity: 0.3;
		}
	}

	.field-block {
		display: block;
	}

	.field-inline {
		display: inline-block;
	}


	.field input, textarea, select {
		display: block;
		padding: 10px;
		margin: 10px 0;
		background-color: $field-background;
		border: 1px solid $field-border;
		// border-radius: 3px;
		color: $field-text;

		&:focus {
			background-color: #ffffff;
			border-color: $background-blue;
			outline-color: $background-blue;
		}

		&:disabled {
			background-color: #eeeeee;
		}

		&.has-error {
			border: 1px solid red;
			outline-color: red;
			box-shadow: 0 0 3px red
		}
	}

	.error-message {
		font-family: 'Open Sans';
		font-size: 0.6em;
		color: red;
	}

	.combined-fields > input {
		display: inline;
	}

	.field input[type="text"], .field textarea {
		min-width: 80%;
	}

	.field input[type="number"] {
		width: 50px; 
	}

	.field input[type="checkbox"] {
		display: none;
		position: absolute;
		left: -9999999px;
	}
	.field input[type="checkbox"]:not(:checked) + label,
	.field input[type="checkbox"]:checked + label {
		&:before {
			content: '';
			position: absolute;
			width: 17px; height: 17px;
			left: 75px;
			border: 1px solid $background-soft-blue;
			background: $field-background;
			transition: all .2s;			
		}

		&:after {
			content: '✔';
			position: absolute;
			left: 77px;
			font-size: 18px;
			line-height: 1;
			color: $background-bright-blue;
			transition: all .2s;
		}
	}

	.field input[type="checkbox"]:not(:checked) + label:after {
		opacity: 0;
		transform: scale(0);
	}

	.field input[type="checkbox"]:checked + label:before {
		background-color: #fff;
		border: 1px solid $background-blue;
		outline: $background-blue auto 5px;
		outline-offset: -2px;
	}

	.back-step-button {
		background-color: $button-muted;
	}

	.next-step-button {
		float: right;
		margin-bottom: 30px;
	}

	ul.tagit {
		width: 80%;
		padding: 5px 10px;
		margin: 10px 0;
		background-color: $field-background;
		border: 1px solid $field-border;
		border-radius: 0px;
		color: $field-text;
		
		.ui-icon {
			background-color: red; // TODO create own image
		}	
	}

	.form-accordion-step label.accordion-label {
		font-family: 'Economica', 'Arial Narrow', Arial, sans-serif;
		font-weight: bold;
		text-transform: uppercase;
		padding: 5px 20px;
		position: relative;
		z-index: 20;
		display: block;
		cursor: pointer;
		color: #777;
		text-shadow: 1px 1px 1px rgba(255,255,255,0.8);
		line-height: 33px;
		font-size: 19px;
		background: #eaeaea;
		box-shadow: 
			0px 0px 0px 1px rgba(155,155,155,0.3), 
			1px 0px 0px 0px rgba(255,255,255,0.9) inset, 
			0px 2px 2px rgba(0,0,0,0.1);

		&:hover {
			background: #fff;
		}

		&.error-accordion-label {
			background: $background-soft-red;
			color: $text-bg-soft-red;
			text-shadow: 1px 1px 1px rgba(255,255,255, 0.5);
			box-shadow:
				0px 0px 0px 1px rgba(155,155,155,0.3),
				0px 2px 2px rgba(0,0,0,0.1);
		}
	}


	input.accordion-checkbox {
		display: none;

		&:checked + label {
			background: $background-soft-blue;
			color: $text-bg-soft-blue;
			text-shadow: 0px 1px 1px rgba(255,255,255, 0.6);
			box-shadow: 
				0px 0px 0px 1px rgba(155,155,155,0.3), 
				0px 2px 2px rgba(0,0,0,0.1);

			&:hover {
				background-color: $background-blue;
				color: white;
			}
		}
	}

	.form-accordion-step-content {
		box-sizing: border-box;
		background: rgba(255, 255, 255, 0.5);
		margin-top: -1px;
		overflow: hidden;
		height: 0px;
		position: relative;
		z-index: 10;
		transition: 
			height 0.3s ease-in-out, 
			box-shadow 0.6s linear;
	}

	input:checked ~ .form-accordion-step-content {
		height: auto;
		transition: 
			height 0.5s ease-in-out, 
			box-shadow 0.1s linear;
		box-shadow: 0px 0px 0px 1px rgba(155,155,155,0.3);
	}

	.form-accordion-step-fieldset, .form-fieldset {
		padding: 30px;
	}

	label.form-subsection-heading {
		font-family: 'Economica', 'Arial Narrow', Arial, sans-serif;
		font-weight: bold;
		text-transform: uppercase;
		padding: 5px 20px;
		position: relative;
		z-index: 20;
		display: block;
		line-height: 33px;
		font-size: 19px;
		background: $background-soft-blue;
		color: $text-bg-soft-blue;
		text-shadow: 0px 1px 1px rgba(255,255,255, 0.6);
		box-shadow: 
			0px 0px 0px 1px rgba(155,155,155,0.3), 
			0px 2px 2px rgba(0,0,0,0.1);

	}
}



